[mysqld]
user = mysql
datadir = /var/lib/mysql
socket = /var/run/mysqld/mysqld.sock
pid-file = /var/run/mysql/mysqld.pid           # 移到数据目录，避免权限警告
default-time-zone = '+08:00'
secure-file-priv = /var/lib/mysql-files
skip-name-resolve
host_cache_size = 0                            # 替代弃用的 skip-host-cache

character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2
log_queries_not_using_indexes = 1

[client]
socket = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4

!includedir /etc/mysql/conf.d/